<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Management System</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <%- include('layouts/header') %>
    </header>
    
    <%- include('layouts/navigation') %>

    <div class="home-content">
    <img class="home-image" src="/images/homeimage.png" alt="home">
    <!--img src: https://www.writersdigest.com/getting-published/6-food-blogging-pros-and-cons-->

    <h2 class="home-title">Home</h2>

    <p class="main-content"> 
        Welcome to a gastronomic journey where every dish tells a story, and every recipe is a doorway to a world of flavors. 
        At Tasty Blog, we're more than just a collection of recipes; we're a community of food enthusiasts sharing our love for delicious, home-cooked meals.
        Ready to embark on a culinary journey? Start exploring our recipes, reading our stories, and becoming part of the Tasty Blog family.
    </p>
    </div>

    <footer>
        <%- include('layouts/footer') %>
    </footer>
    
</body>
</html>